.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar {
  background-color: #fcfcca
}

a:link {
  color: black 
}

a:hover {
  color: black 
}

a:active {
  color: black
}

a:visited {
  color: black
}

h1 {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #cacafc;
  color: #010203;
  width: 35%;
  border-radius: 10px;
  text-align: center
}

#welcome {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;  
}

.button {
  background-color: #d1d1ff !important;
  color: #010203 !important
}

h3 {
  background-color: azure
}

ul {
  background-color: antiquewhite !important
}

.goalTiles {
  margin-left: 5em;
  margin-top: 5em;
  margin-right: 5em;
}

.listTiles {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
}

.goalContainer {
  display: flex;
  justify-content: center
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center
}

.finished {
  background-color: rgb(24, 236, 24) !important
}

#wrongPlace {
  display: flex;
  justify-content: center;
  align-items: center
}

.header {
  display: flex;
  justify-content: center;
}

.greeting {
    display: flex;
    justify-content: center;
    width: 15%
}

.welcome {
  background-image: url('./media/good_work_background.jpeg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45em;
}

.noMatch {
  background-image: url('./media/noMatchMap.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45em;
}

.partners {
  background-image: url('./media/better_friend_avatar.jpeg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45em;
}

.goals {
  background-image: url('./media/goals.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45em;
}