.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}  */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

a:link {
  color: #010203
}

a:visited {
  color: #010203
}

a:hover {
  color: #010203
}

a:active {
  color: #010203
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1 {
  display: block;
  justify-content: center;
  align-items: center;
  color: #010203;
  /* width: 35%; */
  border-radius: 10px;
  text-align: center;
  font-family: 'Lobster Two', cursive !important;
  font-size: 30px !important;
}

h2 {
  font-family: 'Lobster Two', cursive !important;
  font-size: 26.5px !important;
}

h3 {
  font-family: 'Lobster Two', cursive !important;
  font-size: 22px !important;
}

#welcome {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;  
}

ul {
  background-color: antiquewhite !important
}

.goalTiles {
  margin-left: 5em;
  margin-top: 5em;
  margin-right: 5em;
}

.listTiles {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
}

.goalContainer {
  display: flex;
  justify-content: center
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center
}

.finished {
  background-color: rgb(58, 179, 86) !important;
  padding-right: 2.5px !important;
  padding-left: 2.5px !important;
}

#wrongPlace {
  display: flex;
  justify-content: center;
  align-items: center
}

.header {
  display: flex;
  justify-content: center;
}

#greeting, #login {
    margin: 0;
    position: absolute;
    top: 17.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.welcome {
  background-image: url('./media/good_work_background.jpeg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.noMatch {
  background-image: url('./media/noMatchMap.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.partners {
  background-image: url('./media/new_partner_test.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.goals {
  background-image: url('./media/goals.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.goalPage {
  background-image: url('./media/beach-calm-dawn-267967.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.lost {
  background-color: rgb(99, 142, 146);
  width: 50%;
  margin: 0;
  position: absolute;
  left: 25%;
  top: 10%;
  color: #ffffff !important;
}

.navContainer {
  background-color: transparent;
}

.homeButton, .loginButton, .profileButtons, .addGoal, .addList, .addTask {
  background-color: rgb(255, 247, 172) !important;
  margin-left: 10px;
  padding-right: 2.5px !important;
  padding-left: 2.5px !important;
}

.greetingHeader {
  padding-left: 5px;
  padding-right: 5px;
}

.doctor {
  background-image: url("./media/temp_doctor_background.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh
}

.comingSoon {
  background-color: #11b4bd;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 67%;
  margin-right: -33%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 45%;
  padding-top: 3px;
  padding-bottom: 6px;
  color: #ffffff !important;
}

.comingSoon h1{
  color: #ffffff !important;
}

Button {
  font-family: 'Lobster Two', cursive !important;
  color: #010203 !important;
  width: 100px;
}

.form {
  margin: 0;  
  position: absolute;
  top: 33%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 30%;
  font-family: 'Lobster Two', cursive !important;
  font-size: 15px;
}

.formButton {
  background-color: #9be994 !important
}

.goBack {
  margin: 0;  
  position: absolute;
  top: 58%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 47.5%;
}

.loginForm {
  margin: 0;  
  position: absolute;
  top: 17.5em;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 80vw;
  font-family: 'Lobster Two', cursive !important;
}

.signUpForm {
  margin: 0;  
  position: absolute;
  top: 24.5vh;
  left: 51.33%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 22.5em;
  font-family: 'Lobster Two', cursive !important;
}

#signUpHeader {
  margin-top: 4%;
  margin-left: 51.15%;
  margin-right: -40%;
  transform: translate(-50%, -50%);
  width: 17em !important;
}

.partner {
  background-color: #11b4bd;
  margin: 0;
  position: absolute;
  top: 18%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 45%;
  padding-top: 3px;
  padding-bottom: 6px;
}

#partnerName {
  font-family: 'Lobster Two', cursive !important;
  color: #010203 !important;
  padding-bottom: .5em
}

.partnerButton {
  background-color: rgb(60, 133, 191) !important;
  color: #ffffff !important;
}

.content {
  font-family: 'Lobster Two', cursive !important;
  color: #010203 !important;
  font-weight: 700;
}

.partnerForm {
  margin: 0;  
  position: absolute;
  top: 8em;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-family: 'Lobster Two', cursive !important;
}


.formSubmit {
  background-color: rgb(58, 179, 86) !important;
  color: #ffffff !important;
  width: 23%;
  height: 50px;
}

.partnerGoBack{
  background-color: rgb(60, 133, 191) !important;
  color: #ffffff !important;
  width: 23%;
  height: 50px;
}

.partnerDelete{
  background-color: rgb(255, 247, 172) !important;
  width: 23%;
  height: 50px;
}

.goalGoBack {
  background-color: rgb(255, 247, 172) !important;
  width: 23%;
  height: 50px;
}

#goalForm {
  margin: 0;  
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-family: 'Lobster Two', cursive !important;
}

#goalTile {
  color: #ffffff !important;
  background-color: rgb(58, 179, 86) !important;
}

#goalHeader, #goalContainerHeader, #listHeader {
  color: #ffffff;
}

#listTile {
  color: #ffffff !important;
  background-color: rgb(84, 129, 187) !important;
}

.table {
  display: block;
  width: 70%;
  margin-top: 0;  
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  height: 400px !important;
}

#tHeader {
  table-layout: fixed !important;
}

.addTask {
  background-color: rgb(84, 129, 187) !important;
  color: #ffffff !important;
  height: 40px;
  width: 12.5%
}

.finishedList{
  background-color: rgb(58, 179, 86) !important;
  color: #ffffff !important;
  height: 40px;
  width: 12.5%
}

.backToGoal{
  background-color: rgb(255, 247, 172) !important;
  color: #010203 !important;
  height: 40px;
  width: 12.5%;
}

#taskTitle {
  width: 15%;
}

#taskContent {
  width: 45%;
}

#taskStatus {
  width: 25%;
}

.taskButton {
  width: 43%;
  height: 50px !important;
  text-align: center !important;
  padding: 5px
}

#finishedTask {
  background-color: rgb(58, 179, 86) !important;
}

#editTask {
  color: #ffffff !important;
  background-color: rgb(84, 129, 187) !important;
}

.newListForm {
  width: 350px;
  top: 67%;
  color: #ffffff !important;
  justify-content: center;
  position: absolute;
  margin: 0;
}

.newListButton {
  width: 30%;
  height: 50px !important;
  text-align: center !important;
  padding: 5px
}

#newList {
  background-color: rgb(58, 179, 86) !important;
  padding: 5px
}

#listGoBack {
  background-color: rgb(255, 247, 172) !important;
}

#underTaskButtons {
  background-color: #ffffff !important;
  top: 15em;
}

.taskCard {
  display: block;
  width: 70%;
  margin-top: 0;  
  position: fixed;
  top: 53%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.updateTask {
  background-color: rgb(58, 179, 86) !important;
  color: #ffffff !important;
}

.goBackTask {
  background-color: rgb(255, 247, 172) !important;
}